@import "tailwindcss";

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
} 

html,
body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(to top, #dad4ec, #f3e7e9);
}
